---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
    <div class="row">
      <div class="">
        <div class="">
            <a href="{{ post.url }}" class= "">
          {% if post.image %}
              <img src="public/images/{{post.image}}" class="img-feature img-responsive">
          {% endif %}
            </a>
          <div class="caption">
            <a href="{{ post.url }}" class= "">
              <h1>{{post.title | upcase}}</h1>
            </a>
            <p>{{post.excerpt}}</p>
            <span class="post-date">
              <i class="fa fa-calendar" data-hidden=true></i> {{ post.date | date_to_string }}</span>
            <span>
              {% for tag in post.tags %}
                <kbd class="inverse">{{ tag }}</kbd>
              {% endfor %}
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr>
  {% endfor %}
</div>
{%include paginator.html %}
